/* ------------ NAVBAR -------------- */

.navbar-brand {
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar img {
  border: 2px solid #ddd;
  cursor: pointer;
  transition: 0.25s;
}

.navbar img:hover {
  transform: scale(1.1);
  border-color: #aaa;
}
